<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
  <div class="wrapper">
    <p class="social-links">
      <a href="https://www.twitter.com/ilbaroni_" target="_blank"><i class="fab fa-twitter-square"></i></a>
      <a href="https://www.github.com/ilbaroni" target="_blank"><i class="fab fa-github-square"></i></a>
      <!-- <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a> -->
      <!-- <a href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin"></i></a> -->
    </p>
    <p>
      ilikebotnets.com - <span class="copyleft">&copy;</span> {{ "now" | date: "%Y" }}
    </p>
  </div>
  
  <script data-goatcounter="https://stats.ilikebotnets.com/count" async src="/count.js"></script>
</footer>
