---
layout: default
---

<center>
Security Researcher and <a href="https://x.com/Cryptolaemus1">Cryptolaemus</a> team member.
<br>
I reverse engineer malware and track botnets. ☕
<br>
<br>
<br>
<img id="random-img" alt="Random Img" width="780"/>
</center>

<script>
const aux = [
    {% for file in site.static_files %}
        {% if file.path contains '/assets/images/random' and file.extname == '.png' %}
        '{{ file.path }}',
        {% endif %}
    {% endfor %}
];

function getRandomImage() {
    const randomIndex = Math.floor(Math.random() * aux.length);
    return aux[randomIndex];
}

function changeImage() {
    const randomImagePath = `${getRandomImage()}`;
    document.getElementById('random-panel').src = randomImagePath;
}

setInterval(changeImage, 6000);
changeImage();
</script>
